.editor-container {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 6px;
  width: 600px;
  height: 260px;
  position: relative;
  * {
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /* 滚动条里面滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #aeaeae;
  }
  /*滚动条里面轨道*/
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
    background: #eee;
  }
  // .editor-tools {
  //   width: 100%;
  //   height: 40px;
  //   display: flex;
  //   align-items: center;

  //   .upload {
  //     width: 40px;
  //     height: 40px;
  //     .upload-tip {
  //       position: absolute;
  //       top: -35px;
  //       width: fit-content;
  //       font-size: 12px;
  //       color: #5c5c66;
  //       font-weight: 700;
  //       height: fit-content;
  //       padding: 4px;
  //       border-radius: 4px;
  //       box-shadow:
  //         rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
  //         rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  //       &::before {
  //         position: absolute;
  //         bottom: -16px;
  //         left: 10px;
  //         display: block;
  //         width: 16px;
  //         height: 16px;
  //         pointer-events: none;
  //         content: ' ';
  //         // -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%);
  //         // clip-path: polygon(0 0, 100% 15%, 100% 85%);
  //         clip-path: polygon(20% 0, 0 100%, 100% 0);
  //         background-color: #dcdfe4;
  //       }
  //     }
  //     .upload-btn {
  //       padding: 4px;
  //     }
  //   }
  // }
  .editor-content {
    outline: 0;
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
    padding: 4px 8px;
    box-sizing: border-box;
    border-top: 1px solid #ebebeb;
    border-radius: 6px;
    word-break: break-all;
    font-size: 14px;
    line-height: 1.2;
    &::-webkit-scrollbar {
      cursor: default;
    }
    & > img {
      max-width: 50%;
      border: 5px solid #d6d6d6;
      border-radius: 4px;
    }
    input {
      box-sizing: border-box;
      width: 100px;
      height: 80px;
      pointer-events: none;
      cursor: pointer !important;
      writing-mode: inherit;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding-top: 60px;
      background-image: url('~/assets/images/upload-file.svg');
      background-repeat: no-repeat;
      background-position: center top;
      outline: none;
      border: none;
      position: relative;
      font-size: 13px;
      font-weight: 600;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .editor-footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    button {
      padding: 6px 20px;
      background: transparent;
      outline: 0;
      border: none;
      border-radius: 4px;
      margin-left: 15px;
      cursor: pointer;
      &:first-of-type {
        margin-left: 0;
      }
    }
    .footer-menu {
      margin-top: 5px;
    }
    .foot-btn {
      .btn-cancel {
        border: 1px solid #cdcfd0;
      }
      .btn-send {
        background-color: #4e9def;
        color: #fff;
      }
    }
  }
}
